.btn {
    font-family: "Norse";
    text-align: center;
    padding: 5px 5px;
    border-radius: 10px;
    transition: .5s ease-in;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.15s ease-in-out;
    background-color: #88A6AA;
}

.light {
    background-color: #000B3D;
    color: #8BFFFB;
}

.small {
    width: 100px
}

.medium {
    width: 150px;
}

.md-lg {
    width: 200px;
}

.large {
    width: 250px;
    /* height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
}