.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar .links {
    display: flex;
    font-family: "Norse";
    font-size: 18px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.navbar .logo {
    color: #1366ff;
    font-family: "Norse";
    font-size: 24px;
    /* cursor: pointer; */
    width: 100%;
}

.navbar .links h2 {
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s ease-in;
    color: #1366FF;
}

.navbar .links h2:hover {
    color: #88A6AA;
    transform: scale(1.1);
    transition: 0.15s ease-in;
}