.galleryPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.galleryPage .filterButtonContainer {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    width: 100%;
}

.galleryPage .filterButtonContainer .filterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.galleryPage .filterButtonContainer .filterButtonActive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.galleryPage .filterButtonContainer .filterButtonActive h1 {
    font-size: 28px;
    color: #1366FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Norse";
    transition: .15s ease-in;
    padding: 0px;
    margin: 0px;
}

.galleryPage .filterButtonContainer h1 {
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Norse";
    transition: .15s ease-in;
    padding: 0px;
    margin: 0px;
}

.galleryPage .filterButtonContainer h1:hover {
    color: #1366FF;
    transition: .15s ease-in;
}

.galleryPage .cardGrid {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
}

.galleryPage .cardGrid .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}