.warriorPage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.warriorPage .container {
    width: 50%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: "Norse";
}

.warriorPage .container .header {
    color: white;
    font-size: 48px;
    margin: 0px;
}

.warriorPage .container .statBox {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    color: #1366FF;
}

.warriorPage .container .statBox h1 {
    font-size: 36px;
}

.warriorPage .container .statBox .circle {
    width: 100px;
    height: 100px;
}

.warriorPage .imgContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warriorPage .imgContainer img {
    border-radius: 20px;
}

.warriorPage .imgContainer .rarity {
    display: flex;
    width: 100%;
    justify-content: center;
}

.warriorPage .imgContainer .circle {
    width: 100px;
    height: 100px;
}