.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .cardGallery {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}