.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home .header {
  color: #1366FF;
}

.home .cardGallery {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
}